@model  WebApplication5.Models.tblEmployee

@using WebApplication5.Models


@{
    ViewBag.Title = "Index";
    WebApplication5.Models.tblEmployee emp = new tblEmployee();


}

@using (Html.BeginForm("Index", "tblEmployees", FormMethod.Post))
{
    <h2>Index</h2>

    @*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tblDepartmnet.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.tblDepartmnet.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.EmployeeId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeId })
                </td>
            </tr>
        }

    </table>*@



    <div>
        @*@foreach (tblEmployee item in Model)
        {
            @Html.EditorFor(m => item.Name)
        }
        <hr />
        @Html.TextBox("Employee Name", "Model", new { Style = "background:#cccccc;" })
        <hr />
        @Html.TextArea("Employee", "This is Dummy Decription", null)
        <hr />
        @Html.DropDownList("Employee", new SelectList(Enum.GetValues(typeof(Empyoyee))), "Select Employee")
        <hr />
        @foreach (tblEmployee item in Model)
        {
            @Html.DropDownListFor(m => item.City, new SelectList(Enum.GetValues(typeof(City))), "Select City")
        }*@

        @Html.DropDownListFor(m => m.EmployeeId ,  Model.cityList,"Select City")

    </div>

}


